/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */
@font-face {
    font-family: 'PlayRegular';
    src: url('../img/Play-Regular-webfont.eot');
    src: url('../img/Play-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../img/Play-Regular-webfont.woff') format('woff'),
         url('../img/Play-Regular-webfont.ttf') format('truetype'),
         url('../img/Play-Regular-webfont.svg#PlayRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PlayBold';
    src: url('../img/Play-Bold-webfont.eot');
    src: url('../img/Play-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../img/Play-Bold-webfont.woff') format('woff'),
         url('../img/Play-Bold-webfont.ttf') format('truetype'),
         url('../img/Play-Bold-webfont.svg#PlayBold') format('svg');
    font-weight: normal;
    font-style: normal;

}


html,.mega-wrap {
	min-height:100%
}
body {
	font-size: 1em;
	line-height: 1.4;
	background:#000;
	font: 18px/27px 'PlayRegular', Arial, sans-serif;
	letter-spacing: -1px;	
	min-height:100%;
}
::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}
::selection {
	background: #b3d4fc;
	text-shadow: none;
}
img {
	vertical-align: middle;
}
fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}
textarea {
	resize: vertical;
}

.wrapper {
	margin: 0;
}
nav {
	position:relative;
	z-index:200
}

.main-container,.header-container {
	float:right;
}

.main-container {
	background:#1a1a1a;
	padding:0 1%;
	font-size:90%;
	min-height:85%;
	position:relative;
	z-index:1;
}
.header-container {
		width:100%;
		position:relative;
		z-index:100;
}
.title {
    color: white;
	z-index:100;
	text-align:right
}
h1 span, h2 {
	color:#ffcd36
}
article p {margin:5px 0 15px 0}
.main aside {
	background:#828282;
	color:#fff;
	padding:1%;
	margin-top:67px;
}
.findAside, .top {
	right:2px;
	width:30px;
	height:30px;
	background-color:#fff;
	background-color:rgba(250,250,250,0.6);
	border-radius:3px;
	z-index: 250;
	cursor:pointer;
	background: url("../img/arrows.gif") repeat scroll 1px 2px transparent ;
	background-position: 0 27px;
}
.top,.findAside {
	background-position: 1PX 1PX;
	display:none;
}

nav {
	background:#1a1a1a;
	background:rgba(26,26,26,0.7);
	font-weight:200;
}
nav a {
	-webkit-transition:color 1s;
	-moz-transition:color 1s;
	-o-transition:color 1s;
	transition:color 1s;
}
.wrap-scroll {
	width: 300px;
	height:300px;
	overflow:hidden;
	background:#fff;
	background:rgba(250,250,250,0.3);
}
.wrap-scroll-contain {
	width:900px;
	height: 260px;
	position: relative;
	left:0;
}
.wrap-scroll .inner {
	width: 260px;
	margin:0 10px;
	height:281px;
	float:left;
	background:rgba(238, 238, 238,0.2);
	padding:5px 10px;
	color:#000
}
.wrap-scroll .inner:nth-child(1) {
	margin-left:10px;
}
.move {
	width:300px;
	height:20px;
	display:block;
	border:1px solid transparent
}

.left,.right {
	color:#fff;
	float:left;
	text-decoration:none
}
.right {
	float:right
}
.linkedIn {
	position:absolute;
	top:0;
	left:0;
	z-index:500
}
section {
	margin: 10px 0 40px;
}
/* ==============
    MOBILE: 
   ============== */
 .title  {
	margin-bottom:5px;	
	font-weight:600;
	font-size:1.5em;
	
 }
   .main-container,.header-container {
	float:right;
	width:95%;
}
nav { 
	width:95%;
	margin:0 auto;
	position:absolute;
	top:61px;
	left:10px
}
nav.fixed,.findAside, .top{
	position:fixed;
	top:0;
}
.findAside {
	top:91%;
	right:10px;
}
.top {
	top:35px;
	right:10px;
}
nav ul {
    margin: 0;
    padding: 0;
}

nav a {
	float:left;
    margin-bottom: 10px;
    padding: 5px;
    text-align: right;
    text-decoration: none;
    font-weight: 200;
    color: white;
}

nav a:hover,nav a:visited {
    color: white;
	text-decoration:none;
}
nav a:hover {
	color:#FFCD36
}
nav a.active  {
	color:rgb(175, 171, 255);
}

.main {
    padding: 45px 0 0 0;
	color:#828282;
	max-height:100%;
}
.main article {
	width:91%;
	margin:15px 0
}
.main article h1 {
    font-size: 2em;
	color:#ffcd36;
	margin:0 0 20px 0;

}
h2 {
	margin:10px 10px 0 0;
}
.main aside {
	width:97%
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}
	nav li:last-child a {
		display:none
   }
   .knockoutFiddle {
	   width:300px;
	   max-width:300px;
	   height:600px;
	   overflow:hidden
   }

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 520px) {
    .title {
		font-size: 3em;
		font-weight: 500;
		margin-bottom: 18px;
		letter-spacing: -4px;
    }
	.main-container,.header-container {
		float:right;
		width:76%;
	}
	.main {
		padding:0;
	}
	.header-container {
			width:100%;
	}	
	nav { 
		width:20%;
		max-width:250px;
		min-width:100px;
		float:left;
		top:81px;
		left:5px;
		margin-right:6px
	}
	nav.fixed {		
		top:0;
		right:78%;
	}
    nav a {
        width: 80%;
		float:right;
        margin: 10% 1.7%;
        padding: 15px 2%;
        margin-bottom: 0;
		clear:both;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
		display:block;
    }
	.main article h1 {
	font-size:2.8em;
	font-weight:700	;
	letter-spacing:-2px
	}
	
	.wrap-scroll,.move {
	width: 500px;
	}
	.wrap-scroll-contain {
		width:1500px;
	}
	.wrap-scroll .inner {
		width: 460px;

	}
	.top {
		top:11px;
		right:10px;
	}	
	   .knockoutFiddle {
	   width:450px!important;
	   max-width:300px;
	   overflow:hidden
   }
/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container, .main aside {
        /*-webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;*/
    }

	.main-container,.header-container {
		float:right;
		width:76%;
	}
	.header-container {
		width:100%;
	}
    .title {
		font-size:5em;
		margin-bottom:23px;
		letter-spacing:-5px;
    }

    nav {
		float: right;
		max-width: 221px;
		position: relative;
		margin-right:10px;
		top:0
    }
	nav.fixed {
		right:77.6%;
		top:0px;
	}
	nav a {
		font-size:150%;
	}
    .main article {
        float: left;
		width:67%;
    }

    .main aside {
        float: right;
		width:27%

    }
	.main article h1 {
		font-size:2.5em;	
		font-weight:500;
		padding:20px 0;
	}
	.wrap-scroll {
		width: 800px;
		height:300px;
	}
	.move {
		width:800px;
	}
	.wrap-scroll-contain {
		width:2400px;
		position;relative;
		left:0;
	}
	.wrap-scroll .inner {
		width: 760px;
		padding:5px 10px;
	}
	.findAside {
		display:block
	}
	.knockoutFiddle {
	   width:650px!important;
	   max-width:300px;
	   overflow:hidden
   }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */
	.main-container,.header-container {

	}
	.move {
		width:800px;
	}
    .wrapper {      
    }
	.findAside {
	}
	.main {
		height:100%;
		min-height:600px;
	}
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
pre {background:#828282;color:#fff;padding:10px;}

/* CSS3 styles */
#classListTest {position: relative;display:block;line-height:2em; width:95%; padding:0 0 10px 10px;
transition: all 3s;-moz-transition: all 3s; -webkit-transition: all 3s; -o-transition: all 3s; background:#828282;color:#fff }
#classListTest:after {content: 'class: ' attr(class); position: absolute; background: #eee;  bottom: 0;  right: 0;  padding: 5px;  color: #000;}
#toggleClass input {margin:5px 7px 5px 0;border-radius:2px; padding:3px;background:#fff}
#toggleClass input:hover {-webkit-box-shadow: 0px 0px 10px #fff;-moz-box-shadow: 0px 0px 10px #fff;box-shadow: 0px 0px 10px #fff;}

#mapcanvas { position:relative; top:-120px; border-radius:15px; width:250px; height:250px; }

.liveExample { padding: 1em; background-color: #EEEEDD; border: 1px solid #CCC; max-width: 655px; }
.liveExample input { font-family: Arial; }
.liveExample b { font-weight: bold; }
.liveExample p { margin-top: 0.9em; margin-bottom: 0.9em; }
.liveExample select[multiple] { width: 100%; height: 8em; }
.liveExample h2 { margin-top: 0.4em; }


@keyframes aperture {0%
{background:red; left:0px; top:0px;}25%  {background:yellow; left:200px; top:0px;}50%  {background:blue; left:200px; top:200px;}75%  {background:green; left:0px; top:200px;}100% {background:red; left:0px; top:0px;}}
@-moz-keyframes aperture {0%   
{background:red; left:0px; top:0px;}25%  {background:yellow; left:200px; top:0px;}50%  {background:blue; left:200px; top:200px;}75%  {background:green; left:0px; top:200px;}100% {background:red; left:0px; top:0px;}}
@-webkit-keyframes aperture {0%
{background:red; left:0px; top:0px;}25%  {background:yellow; left:200px; top:0px;}50%  {background:blue; left:200px; top:200px;}75%  {background:green; left:0px; top:200px;}100% {background:red; left:0px; top:0px;}}



#toggleClass {  width:100%;}

#classListTest {
  width:100%;  height:250px;  box-shadow:0 0 3px #000;  margin:0 auto 20px;  background:#828282;  color:#fff;
}
button {  margin:0 auto;}

/*knockout stuff*/
.lowLight{
    font-weight:lighter;
}
.base-wrapper{
    margin: 10px auto 30px;    
    width:850px;
    padding:0 0 0 10px;
}
.new-skills{
    width: 240px;
    float: left;  
    position:relative;  
}
.new-skills .buttons    {
    display:inline;
}

.new-skills input{
     padding: 5px;
     border: 1px solid #d5d5d5;    
     width:147px;
}

.existing{
     margin: 15px 0 0;   
}
.existing-skill{
    margin: 0 0 5px;
    padding: 5px;
    background: #c8f6fb;
    border: 1px solid #d5d5d5;
}
.suggestions-wrap{
    width:200px;
  clear:both
}
.suggestions{
    width: 200px;
    margin: 0 0 10px 0px;   
    background: #828282;
    border-radius:3px;
    padding:2px 0 3px 0;
}
.suggestions h4    {
    color:#000;
    font-size:100%;
    font-weight:bold;
    margin:10px 8px;
    }
.suggestions .label{
     display: block;
     margin: 0;
     cursor: pointer;  
     color:#fff;
     font-size:90%;
     padding:4px 9px;
     *padding:0px 9px;
}
.label:hover{
   text-decoration: underline;
}
.remove:hover{
 color:#000
}
.skill-list .skill{
    display: block;
    margin: 8px 0;  
    border-bottom:1px solid #E1F1FB;  
    padding:5px 0;
    width:100%;
}
.skill-list .skill span    {
    *float:left;
    *width:90%;
}
.existing-skill .remove,.skill-list .skill .remove{
    float: right;
    text-decoration: none;
    color: #666;
    cursor: pointer;  
    display: inline-block; 
    *display:inline;
    font-size:90%;
    width:auto;
}
.skill-list{
    width: 200px;
    padding: 15px 25px 10px 0;
}

.new-skills .error {
    display: block;
    line-height: 2.2em;
}
.autoComp{
    display:none;
    border:1px solid #ccc;
    position:absolute;
    background:#fff;
    width:187px;
    top:29px;
    left:0;
}
.autoComp li a{
    display:block;
    padding:5px;
}
.autoComp li a:hover,.autoComp li a:focus{
    background:#E1F1FB;
    text-decoration:none;
}


/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}